

body{
    background-color: gray;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   

    width: 100%;
    height: 10.97vw;

    




    ul{
        display: flex;
        gap: 1.875rem;

        align-items: center;
        
        margin-right: 4.487rem;
       
        font-family: "Poppins";
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
    }

    li{
        list-style: none;
        cursor: pointer;
        user-select: none;

    }

    img{
       
        width: 14.101rem;
        height: 4.732rem;

        margin-top: 2.8vw;
        margin-left: 1.70vw;
        margin-bottom: 3.68vw;

        align-content: center;

         user-select: none;
           outline: none;
    }
  }