section {
    display: flex;
    flex-direction: column;
    align-items: center;

     h2{
           margin-top: 3.906rem;
            margin-bottom: 3.594rem;
            text-align: center;

            font-family: "Poppins";
            font-weight: 700;
            font-size: 2.5rem;  
            color: #2D2D2D;
            line-height: 100%;
        }


    article {
        display: flex;
        flex-direction: row;

        width: 100%;
        height: auto;
        justify-content: center;
        

    
        
        gap: 5rem;


       
        img{

            width: 20vw;
            height: 30vw;
        
        }
    }
}